/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 47px; }
  .header__nav {
    padding: 40px 15px 0;
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    box-sizing: border-box; }
    .header__nav_center {
      padding: 30px 15px;
      -webkit-box-pack: center;
              justify-content: center;
      background: #3e5471;
      max-width: 100%; }
  .header__logo {
    display: inline-block;
    height: 20px;
    width: 165px;
    background: url("../images/logo-header.svg") no-repeat center; }
  .header__signin {
    padding: 9px 15px 7px 39px;
    font: 500 18px 'Roboto', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: url("../images/user_white.svg") no-repeat center left 10px; }
  .header__wrapper {
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 750px;
    width: 100%;
    text-align: center; }
  .header__title {
    margin: 0;
    font: 400 42px 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 47px; }
  .header__desc {
    max-width: 680px;
    width: 100%;
    margin: 24px auto 0;
    font: 400 24px 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    letter-spacing: 1px;
    line-height: 32px; }
  .header__button {
    display: inline-block;
    padding: 15px 37px;
    margin-top: 65px;
    text-transform: uppercase;
    text-decoration: none;
    font: 500 18px 'Roboto', sans-serif;
    color: #ffffff;
    background: #e34a6f;
    border-radius: 2px;
    transition: background 0.2s linear; }
    .header__button:hover {
      background: rgba(227, 74, 111, 0.5); }

@media screen and (max-width: 767px) {
  .header {
    min-height: auto;
    height: auto; }
    .header__nav {
      -webkit-box-pack: center;
              justify-content: center; }
    .header__signin {
      display: none; }
    .header__title {
      font-size: 24px;
      line-height: 30px; }
    .header__wrapper {
      margin-top: 60px;
      position: initial;
      -webkit-transform: none;
              transform: none;
      padding: 0 15px;
      box-sizing: border-box; }
    .header__desc {
      margin-top: 16px;
      font-size: 16px;
      line-height: 20px; }
    .header__button {
      margin-top: 60px; } }

.partners {
  background-color: #f8fafb; }
  .partners__title {
    margin: 0 0 20px;
    width: 100%;
    font: 600 24px 'Roboto', sans-serif;
    color: #384a60;
    text-align: center; }
  .partners__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 5px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .partners__item {
    margin: 0 10px 30px; }

@media screen and (max-width: 767px) {
  .partners__title {
    margin-bottom: 30px;
    font-size: 20px; }
  .partners__item {
    max-width: 120px;
    max-height: 48px; }
  .partners__container {
    justify-content: space-around; } }

.steps {
  padding: 63px 15px; }
  .steps__container {
    max-width: 720px;
    margin: 0 auto; }
  .steps__row {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .steps__row_reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: end;
              justify-content: flex-end; }
      .steps__row_reverse .steps__text {
        margin-left: 15px; }
    .steps__row:nth-child(1) .steps__text {
      margin-top: 16px; }
    .steps__row:nth-child(1) .steps__arrow {
      top: 71px;
      left: 175px; }
    .steps__row:nth-child(2) .steps__text {
      margin-top: 42px; }
    .steps__row:nth-child(2) .steps__arrow {
      top: 98px;
      left: 261px; }
    .steps__row:nth-child(3) {
      margin-top: 56px;
      -webkit-box-align: start;
              align-items: flex-start; }
      .steps__row:nth-child(3) .steps__arrow {
        top: 57px;
        left: 247px; }
    .steps__row:nth-child(4) {
      margin-top: 95px;
      -webkit-box-align: center;
              align-items: center; }
      .steps__row:nth-child(4) .steps__arrow {
        z-index: 1;
        top: 98px;
        left: 261px; }
  .steps__wrapper {
    max-width: 245px;
    width: 100%; }
  .steps__text {
    margin: 0 0;
    max-width: 420px;
    font: 400 16px/24px 'Roboto', sans-serif;
    color: #384a60; }
  .steps__arrow {
    position: absolute; }

@media screen and (max-width: 767px) {
  .steps {
    padding-bottom: 55px;
    background-color: #f8fafb; }
    .steps__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      text-align: center;
      -webkit-box-align: center !important;
              align-items: center !important; }
      .steps__row + .steps__row {
        margin-top: 55px; }
    .steps__arrow {
      display: none; }
    .steps__img {
      margin-top: 15px; } }

.mission {
  position: absolute;
  top: -125px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 715px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 12px 0 #384a60; }
  .mission__container {
    padding: 40px 32px;
    text-align: center; }
  .mission__text {
    margin: 0;
    font: 400 42px 'Roboto', sans-serif;
    color: #384a60; }
    .mission__text_bold {
      font-weight: 600;
      color: #e34a6f; }

@media screen and (max-width: 767px) {
  .mission {
    position: initial;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
    box-shadow: 0 3px 12px 0 #384a60; }
    .mission__text {
      font-size: 24px; } }

.description {
  position: relative;
  margin-top: 218px;
  background: #384a60 url("../images/macbook_1.png") no-repeat top 90% right; }
  .description.slide0 {
    background: #384a60 url("../images/macbook_1.png") no-repeat top 90% right; }
  .description.slide1 {
    background: #384a60 url("../images/macbook_2.png") no-repeat top 90% right; }
  .description.slide2 {
    background: #384a60 url("../images/macbook_3.png") no-repeat top 90% right; }
  .description__container {
    padding: 87px 15px 158px;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden; }
  .description__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-width: 300px;
    width: 100%; }
    .description__nav__item {
      color: #96aeca;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s linear; }
      .description__nav__item_active {
        color: #69f9b7; }
      .description__nav__item:hover {
        color: #69f9b7; }
  .description__title {
    margin: 43px 0 0;
    font: 500 24px 'Roboto', sans-serif;
    color: #ffffff; }
  .description__list {
    margin: 25px 0 0;
    padding: 0;
    list-style: none; }
    .description__list__item {
      max-width: 550px;
      padding-left: 21px;
      font: 400 16px/24px 'Roboto', sans-serif;
      color: #ffffff;
      background: url("../images/heart.svg") no-repeat top 6px left; }
      .description__list__item + .description__list__item {
        margin-top: 8px; }
  .description__button {
    display: inline-block;
    padding: 15px 37px;
    margin-top: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font: 500 18px 'Roboto', sans-serif;
    color: #ffffff;
    background: #e34a6f;
    border-radius: 2px;
    transition: background 0.2s linear; }
    .description__button:hover {
      background: rgba(227, 74, 111, 0.5); }
  .description__slide {
    display: none; }

@media screen and (max-width: 1200px) {
  .description {
    background-size: 400px auto;
    background-position: center right; } }

@media screen and (max-width: 950px) {
  .description {
    background-image: none; } }

@media screen and (max-width: 767px) {
  .description {
    margin-top: 0;
    background: #384a60 url("../images/macbook_small_1.png") no-repeat center bottom -20px;
    background-size: auto; }
    .description__container {
      padding-top: 30px;
      padding-bottom: 267px;
      max-width: 300px; }
    .description__nav {
      text-align: center; }
    .description__button {
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100%;
      max-width: 263px;
      box-sizing: border-box; }
  .description.slide0 {
    background: #384a60 url("../images/macbook_small_1.png") no-repeat center bottom -20px; }
  .description.slide1 {
    background: #384a60 url("../images/macbook_small_2.png") no-repeat center bottom -20px; }
  .description.slide2 {
    background: #384a60 url("../images/macbook_small_3.png") no-repeat center bottom -20px; } }

#slider.slide0 #slide0 {
  display: block; }

#slider.slide1 #slide1 {
  display: block; }

#slider.slide2 #slide2 {
  display: block; }

.footer {
  background: #f8fafb; }
  .footer__container {
    padding: 50px 10px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
  .footer__logo {
    display: inline-block; }
  .footer__mail {
    display: inline-block;
    margin-top: 20px;
    font: bold 16px 'Roboto', sans-serif;
    color: #e34a6f;
    text-decoration: none; }
  .footer__social {
    margin-top: 20px; }
    .footer__social__item {
      display: inline-block;
      width: 24px;
      height: 24px;
      transition: opacity 0.2s linear; }
      .footer__social__item:hover {
        opacity: 0.5; }
      .footer__social__item + .footer__social__item {
        margin-left: 30px; }
      .footer__social__item_facebook {
        background: url("../images/facebook.svg") no-repeat center; }
      .footer__social__item_instagram {
        background: url("../images/instagram.svg") no-repeat center; }
  .footer__wrapper {
    margin-top: 58px;
    display: -webkit-box;
    display: flex;
    max-width: 310px;
    width: 100%;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .footer__wrapper__privacy, .footer__wrapper__copyright {
      font: 400 12px 'Roboto', sans-serif;
      color: #6e7493;
      text-decoration: none; }
    .footer__wrapper__privacy {
      transition: color 0.2s linear; }
      .footer__wrapper__privacy:hover {
        color: #e34a6f; }

@media screen and (max-width: 767px) {
  .footer__wrapper__privacy, .footer__wrapper__copyright {
    font-size: 12px; } }

.form {
  padding: 80px 15px 65px; }
  .form__container {
    max-width: 930px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .form__wrapper {
    max-width: 49%;
    width: 100%; }
  .form__label {
    display: block;
    font: 500 12px 'Roboto', sans-serif;
    color: #384a60; }
    .form__label_active {
      color: #3b7bc9; }
      .form__label_active .form__input {
        border-color: #3b7bc9; }
    .form__label_required {
      color: #384a60; }
    .form__label_optional {
      color: #dae2ec; }
    .form__label:focus {
      color: white; }
    .form__label + .form__label {
      margin-top: 13px; }
    .form__label_error .form__error {
      visibility: visible; }
    .form__label_error .form__input {
      border-color: #e34a6f; }
  .form__input {
    max-width: 360px;
    width: 100%;
    padding: 8px 0;
    font: 400 14px 'Roboto', sans-serif;
    color: #384a60;
    border: 0;
    border-bottom: 1px solid #dae2ec;
    outline: none;
    transition: border-color 0.2s linear; }
  .form__error {
    display: inline-block;
    margin-top: 4px;
    visibility: hidden;
    font: 400 10px 'Roboto', sans-serif;
    color: #e34a6f; }
  .form__button {
    display: inline-block;
    padding: 15px 15px;
    max-width: 360px;
    width: 100%;
    margin-top: 9px;
    text-transform: uppercase;
    text-decoration: none;
    font: 500 18px 'Roboto', sans-serif;
    color: #ffffff;
    background: #e34a6f;
    border-radius: 2px;
    text-align: center;
    transition: background 0.2s linear;
    box-sizing: border-box; }
    .form__button:hover {
      background: rgba(227, 74, 111, 0.5); }
  .form__title {
    margin: 0;
    font: 400 24px 'Roboto', sans-serif;
    color: #3b7bc9; }
  .form__text_mob {
    display: none; }
  .form__text, .form__list__item {
    margin: 16px 0 0;
    font: 400 14px 'Roboto', sans-serif;
    color: #384a60;
    line-height: 20px; }
  .form__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
    .form__list__item {
      padding-left: 20px;
      background: url("../images/heart-blue.svg") no-repeat top 6px left; }
      .form__list__item + .form__list__item {
        margin-top: 8px; }

@media screen and (max-width: 767px) {
  .form {
    padding-top: 32px;
    padding-bottom: 40px;
    background: #f8fafb; }
    .form__text_desc {
      display: none; }
    .form__text_mob {
      display: inline; }
    .form__wrapper {
      max-width: 360px; }
    .form__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      overflow: hidden; }
    .form__input {
      background: #f8fafb; }
    .form__button {
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      max-width: 310px; }
    .form__title {
      margin-top: 40px; } }

.success {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(62, 84, 113, 0.61); }
  .success__container {
    position: absolute;
    top: 65px;
    left: calc(50% + 16px);
    -webkit-transform: translateX(calc(-50% - 32px));
            transform: translateX(calc(-50% - 32px));
    width: calc(100% - 30px);
    max-width: 605px;
    margin: 0 16px;
    padding: 47px 32px 72px;
    border-radius: 4px;
    background: white;
    text-align: center;
    box-sizing: border-box; }
  .success__title {
    margin: 21px 0 0;
    font: 400 36px 'Roboto', sans-serif;
    color: #3b7bc9;
    letter-spacing: 0.5px; }
  .success__text {
    margin: 17px 0 0;
    font: 400 14px/21px 'Roboto', sans-serif;
    color: #384a60; }
  .success__button {
    margin-top: 36px;
    padding: 7px 15px;
    display: inline-block;
    font: 600 14px 'Roboto', sans-serif;
    color: #3b7bc9;
    text-decoration: none;
    border: 1px solid #3b7bc9;
    border-radius: 4px; }
  .success__close {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../images/close.svg") no-repeat center;
    background-size: 12px; }
  .success__wrapper {
    position: relative; }

@media screen and (max-width: 767px) {
  .success__container {
    top: 50%;
    -webkit-transform: translate(calc(-50% - 32px), -50%);
            transform: translate(calc(-50% - 32px), -50%);
    padding: 47px 15px 40px; }
  .success__title {
    font-size: 24px; }
  .success__text {
    font-size: 14px; } }
